.header{
    height: 100px;
    width: 95%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 20px;
    position: fixed;
}
.header > h1{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.addBookForm{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #2d8d2d5f;
    border-radius: 10px;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 4px solid black;
}
.addBookForm > div{
    display: flex;
    align-self: center;
    padding: 7px;
    border: 3px solid black;
    box-shadow: 6px 6px 0 -3px #2d8d2d, 6px 6px 0 0 black;
    border-radius: 7px;
}
label{
    font-size: 20px;
    align-self: center;
    padding-right: 5px;
}
input{
    border: 2px solid black;
    height: 25px;
    border-radius: 5px;
    font-weight: bold;
    padding: 2px;
    /* background: #2d8d2d5f; */
}
input:focus{
    outline: none;
}
.submitButton{
    width: 100px;
    height: 50px;
    align-self: center;
    background-color: #2d8d2d;
    color: white;
    border-radius: 7px;
    border: 3px solid black;
    box-shadow: 6px 6px 0 -3px #2d8d2d, 6px 6px 0 0 black;
    transition: 0.3s ease;
}
.submitButton:hover{
    background-color: #2d8d2dac;
    cursor: pointer;
}
#containerBody{
    display: flex;
    justify-content: space-evenly;
    /* align-items: baseline; */
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2em;
    padding-top: 150px;
}
.card{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 250px;
    height: 300px;
    padding: 5px;
    background-color: #2d8d2d5f;
    border: 4px solid black;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    box-shadow: 14px 14px 0 -4px #2d8d2d, 14px 14px 0 0 black;
}
.cardTitle{
    font-size: 1.4rem;
    display: flex;
    flex-wrap: wrap;
}
.btnDiv{
    display: flex;
    justify-content: space-around;
    padding: 5px;
}
.readBtn{
    width: 70px;
    height: 50px;
    align-self: center;
    background-color: #2d8d2d;
    color: white;
    border-radius: 7px;
    border: 3px solid black;
    box-shadow: 6px 6px 0 -3px #2d8d2d, 6px 6px 0 0 black;
    transition: 0.3s ease;
}
.readBtn:hover{
    background-color: #2d8d2dac;
    cursor: pointer;
}
.deleteBookBtn {
    width: 70px;
    height: 50px;
    align-self: center;
    background-color: #8d2d2d;
    color: white;
    border-radius: 7px;
    border: 3px solid black;
    box-shadow: 6px 6px 0 -3px #8d2d2d, 6px 6px 0 0 black;
    transition: 0.3s ease;
}
.deleteBookBtn:hover{
    background-color: #8d2d2dac;
    cursor: pointer;
}