.header{
    height: 100px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    gap: 20px;
}
.header > h1{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
.addBookBtn{
    height: 50px;
    width: 50px;
    align-self: center;
    background-color: #2d8d2d;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-size: 20px;
    transition: 0.3s ease;
}
.addBookBtn:hover{
    background-color: #2d8d2dac;
}
.addBookForm{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #2d8d2d5f;
    border-radius: 10px;
    align-items: center;
    gap: 5px;
    padding: 10px;
}
label{
    font-size: 20px;
}
input{
    border: 0px;
    height: 25px;
    border-radius: 5px;
    /* background: #2d8d2d5f; */
}
input:focus{
    outline: none;
}
.submitButton{
    width: 100px;
    height: 50px;
    align-self: center;
    background-color: #2d8d2d;
    color: white;
    border-radius: 7px;
    border: none;
    transition: 0.3s ease;
}
.submitButton:hover{
    background-color: #2d8d2dac;
}